# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.
# More information can be found at http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab